<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1.html">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<title>Match</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row mt-5">
			<div class="col-md-6 offset-3">
				<div class="card">
					<div class="card-header">Edit Match</div>
					<div class="card-body">
						<div class="p-5">
							<form th:action="@{/match/save}" method="post">
								<div class="mb-2">
									<label class="form-label">
										ID :
									</label>
									<label class="form-label" th:text="${match.id}"></label>
									<input type="hidden" name="id" class="form-control" th:value="${match.id}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Date 
									</label>
									<input type="date" name="dateMatch" class="form-control" th:value="${match.dateMatch}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Heure
									</label>
									<input type="text" name="heureMatch" class="form-control" th:value="${match.heureMatch}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Equipes
									</label>
									<select name="equipes" class="form-select" multiple>
										<option th:each="equipe : ${equipes}" th:value="${equipe.id}" th:text="${equipe.nomEquipe}"></option>
									</select>
								</div>
								<div class="mb-2">
									<label class="form-label">
										Stade
									</label>
									<select name="stade" class="form-select">
										<option th:each="stade : ${stades}" th:value="${stade.id}" th:text="${stade.nomStade}"></option>
									</select>
								</div>
								<div class="mb-2">
									<label class="form-label">
										Arbitre
									</label>
									<select name="arbitre" class="form-select">
										<option th:each="arbitre : ${arbitres}" th:value="${arbitre.id}" th:text="${arbitre.nom}"></option>
									</select>
								</div>
								<button class="btn btn-success">Update</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>