<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1.html">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<title>Joueur</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row mt-5">
			<div class="col-md-6 offset-3">
				<div class="card">
					<div class="card-header">Edit Joueur</div>
					<div class="card-body">
						<div class="p-5">
							<form th:action="@{/joueur/save}" method="post">
								<div class="mb-2">
									<label class="form-label">
										ID :
									</label>
									<label class="form-label" th:text="${joueur.id}"></label>
									<input type="hidden" name="id" class="form-control" th:value="${joueur.id}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Nom
									</label>
									<input type="text" name="nomJoueur" class="form-control" th:value="${joueur.nomJoueur}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Poste
									</label>
									<input type="text" name="poste" class="form-control" th:value="${joueur.poste}">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Equipes
									</label>
									<select name="equipe" class="form-select" th:value="${joueur.equipe}">
										<option th:each="equipe : ${equipes}" th:value="${equipe.id}"
											th:text="${equipe.nomEquipe}"></option>
									</select>
								</div>
								<button class="btn btn-success">Update</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>