<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1.html">

<head>
	<meta charset="utf-8" />

	<title>Liste Equipes</title>

	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div layout:fragment="content">
		<div class="p-5">
			<div class="card">
				<div class="card-header">List Patients</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nom Equipe</th>
								<th>Pays</th>
								<th></th>
								<th></th>
								<th>
									<a class="btn btn-success" th:href="@{/formEquipe}">
											<i class="bi bi-plus"></i>
										
									</a>
								</th>
							</tr>
							<tr th:each="equipe:${equipes}">
								<td th:text="${equipe.id}"></td>
								<td th:text="${equipe.nomEquipe}"></td>
								<td th:text="${equipe.pays}"></td>
								<td>
									<a class="btn btn-secondary" th:href="@{/equipe/edit(id=${equipe.id})}">
										<i class="bi bi-pencil"></i>
									</a>
								</td>
								<td>
									<a onclick="javascript: return confirm('Etes vous sûr(e)')"
										th:href="@{/equipe/delete/{id}(id=${equipe.id})}" class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</a>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>