<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1.html">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<title>Nouveau Equipe</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row mt-5">
			<div class="col-md-6 offset-3">
				<div class="card">
					<div class="card-header">Nouveau Equipe</div>
					<div class="card-body">
						<div class="p-5">
							<form th:action="@{/equipe/save}" method="post">
								<div class="mb-2">
									<label class="form-label">
										Nom
									</label>
									<input type="text" name="nomEquipe" class="form-control">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Pays
									</label>
									<input type="text" name="pays" class="form-control">
								</div>
								<div class="mb-2">
									<label class="form-label">
										Joueurs
									</label>
									<select name="joueurs" class="form-select" multiple>
										<option th:each="joueur : ${joueurs}" th:value="${joueur.id}"
											th:text="${joueur.nomJoueur}"></option>
									</select>
								</div>
								<button class="btn btn-success">Save</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>